<div class="content">
    <div class="row row-estadistica">
        
        <div class="card col-lg-12 ml-3 mr-5">
            <div class="card-header">
                <strong><h4> Estadisticas</h4></strong>
            </div>
            <div class="card-body">
                <canvas id="categoryChart"></canvas>
            </div>
        </div>
        
    </div>
    
</div>