<div class="content">
    <div class="card">
        <h3 class=" card-title text-center mb-2 mt-2">Agregar un mueble</h3>
        <mat-horizontal-stepper>
          <mat-step label="Información" completed="false">
            <h3 class="multisteps-form__title">Información de Producto</h3>
      
            <div class="multisteps-form__content">
              <div class="form-row mt-4">
                <div class="col-12 col-sm-6">
                  <input class="multisteps-form__input form-control" type="text" placeholder="Nombre"/>
                </div>
                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                  <input class="multisteps-form__input form-control" type="number" placeholder="Precio"/>
                </div>
              </div>
      
              <div class="form-row mt-4">
                <div class="col-12 col-sm-6 mb-4">
                  <label for="categoriasOpcion">Categoria</label>
      
                  <select id="categoriasOpcion" class="browser-default custom-select">
                    <option value="salas">Salas</option>
                    <option value="comedores">Comedores</option>
                    <option value="dormitorios">Dormitorios</option>
                    <option value="infantil">Infantil</option>
                  </select>
                </div>
                <div class="col-12 col-sm-6">
                  <label for="disponibilidadOpcion">Disponibilidad</label>
      
                  <select id="disponibilidadOpcion"class="browser-default custom-select">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
              <div>
                <button class="btn btn-light ml-auto" mat-button matStepperNext> Siguiente</button>
              </div>
            </div>
          </mat-step>
          <mat-step label="Descripción" completed="false">
            <h3 class="multisteps-form__title">Descripción del Producto</h3>
            <div class="multisteps-form__content">
              <div class="form-row mt-4">
                <div class="col">
                  <textarea class="form-control" id="exampleFormControlTextarea1"rows="3"
                  ></textarea>
                </div>
              </div>
            </div>
            <div>
              <button class="btn btn-light ml-auto" mat-button matStepperPrevious>Atras</button>
              <button class="btn btn-light ml-auto" mat-button matStepperNext>Siguiente</button>
            </div>
            
          </mat-step>
          <!-- FOTOS -->
          <mat-step label="Fotos" completed="false">
            <h3 class="multisteps-form__title">Escoge las fotos</h3>
            <div class="multisteps-form__content">
              <div class="row">
                <div class="col-12 col-md-12 mt-4">
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title">Foto 1</h5>
                      
                      <label for="foto1"class="mr-2">Escoje una foto</label>
                      <input type="file" id="foto1" name="foto1" accept="image/png, image/jpeg">
                      
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-12 mt-4">
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title">Foto 2</h5>
                      
                      <label for="foto2"class="mr-2">Escoje una foto</label>
                      <input type="file" id="foto2" name="foto2" accept="image/png, image/jpeg">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-12 mt-4">
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title">Foto 3</h5>
                      
                      <label for="foto3"class="mr-2">Escoje una foto</label>
                      <input type="file" id="foto3" name="foto3" accept="image/png, image/jpeg">
                    </div>
                  </div>
                </div>
          
              </div>
              
            </div>
            <div>
                <button class="btn btn-light ml-auto" mat-button matStepperPrevious>Atras</button>
                <button class="btn btn-light ml-auto" mat-button matStepperNext>Siguiente</button>
              </div>
            
          </mat-step>
          <mat-step label="Especificaciones" completed="false">
            <h3 class="multisteps-form__title">Especificaciones</h3>
            <div class="multisteps-form__content">
              <div class="form-row mt-4">
                <div class="col-12 col-sm-6">
                  <label>Area:</label>
                    <input class = "number" type="number"  >
                    x
                    <input  class = "number" type="number" >
                    m
                  
                </div>
                <div class="col-12 col-sm-6 m-auto">
                  <label for="piezas">Piezas:</label>
                  <input class = "number" type="number" name="piezas" id="piezas">
                  
                  
                </div>
              </div>
            </div>
                  <div >
                    <button class="btn btn-light ml-auto" mat-button matStepperPrevious>Atras</button>
                    
                    <button class="btn btn-success mr-auto" type="button" title="Send" mat-button>Guardar</button>
                  </div>
            
          </mat-step>
        </mat-horizontal-stepper>

    </div>
  </div>
  
  
  <!-- <script  type="text/javascript" src="assets/js/mdb.js"></script> -->
  
