.mat-stepper-horizontal {
    margin-top: 8px;
    background-color: white;
    color: black;

    
}
.mat-stepper-header{
    color: black;
    background-color: yellow;
}

.button-material{
    outline: none ;
    border: none;
    padding: 5px;
    margin: 5px;
    background-color: white;
    outline-color:white !important;
}

.button-material:hover{
    background-color: #e7e3e3;
}
.button-material::-moz-focus-inner {
    border: none;
}



/* Ripple */

/* Hover, Focus */
.button-material:hover,
.button-material:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-material:hover::before {
    opacity: 0.08;
}

.button-material:focus::before {
    opacity: 0.24;
}

.button-material:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.button-material:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.button-material:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.button-material:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.button-material:disabled::before {
    opacity: 0;
}

.button-material:disabled::after {
    opacity: 0;
}

.number{
    width: 4rem;
}